.timer-container {
  background-color: #a0d5e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001d28;
  transition: all linear 0.1s;
  font-weight: 500;
}
